:root {
    --accent-color: #4d5ae5;
    --brand-color: #2e2f42;
}

/**
  |============================
  | BODY
  |============================
*/

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    /* position: fixed;
    top: 0;
    width: 100%; */
}


.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-logo {
    margin-right: 76px;
}

/* .header-nav-list {
    align-items: center;
} */

/* .header-container {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 72px;
} */



.span-header {
    color: #2e2f42;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

.container {
        /* Basic styles */
        min-width: 320px;
        max-width: 428px;
        padding: 0 15px;
        margin: 0 auto;
    
        outline: 2px solid red;
        outline-offset: -2px;
    
    }

    
    /* Tablet screen >=768 */
    
    @media only screen and (min-width: 768px) {
      .container {
        max-width: 768px;
      }
    }
    
    /* Desktop screen >=1158 */
    
    @media only screen and (min-width: 1158px) {
      .container {
        max-width: 1158px;
        padding: 0 15px;
        
      }
    }

        .list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: 24px;
    }



/* .features-list {
    margin-bottom: 8px;
}

.features-list-main {
    width: calc((100% - 72px) / 4);
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-icon {
    width: 64px;
    height: 64px;
} */

.header-nav {
    display: flex;
    align-items: center;
}

/* STYLES FOR MOBILE */

@media only screen and (max-width: 767px) {

    .header-container {
        display: flex;
        align-items: center;
        /* width: 428px;
        height: 70px; */
    }

    .adress {
        display: none;
    }

    .header-nav-list {
        display: none;
    }


    .header-logo {
        margin: 0;
    }

    .header-nav {
        margin: 0;
        width: 115px;
        height: 24px;
        margin-right: auto;
    }

    .burger {
        fill: currentColor;
    }

}

/* STYLES FOR TABLET */

@media only screen and (min-width: 768px) {

    .header-container {
        display: flex;
        align-items: center;
        width: 1440px;
        height: 72px;
    }

    
}

/* STYLES FOR DESKTOP */

@media only screen and (min-width: 1158px) {

    .header-container {
        display: flex;
        align-items: center;
        width: 1440px;
        height: 72px;
    }
    
    .header-nav-list {
        align-items: center;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-nav {
        margin-right: auto;
    }
}

/* .header-nav-list {
    align-items: center;
    display: flex;
    align-items: center;
    gap: 40px;
} */

.header-nav-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    
}

.header-nav-link.active::after {
    background-color: #404bbf;
}

.active {
    position: relative;
    color: #404bbf;
}

.team-section {
    padding: 96px 0;
}


.link {
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.header-nav-link:hover {
    color: #404bbf;
}

.header-nav-link:focus {
    color: #404bbf;
}


/* .adress {
    font-style: normal;
} */

.adress-list {
    display: flex;
}

.adress-mail-txt {
    margin-right: 40px;

}

.adress-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

}

.adress-mail:hover {
    color: #404bbf;
}

.adress-mail:focus {
    color: #404bbf;
}

/**
  |============================
  | HERO SECTION 
  |============================
*/

.hero-section {
    background-color: #2e2f42;
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    display: flex;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/mob_hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero/mob_hero@2x.jpg);
    
  }
}

@media only screen and (min-width: 429px) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero/tab_hero.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
      url(../images/hero/tab_hero@2x.jpg);
      
    }
  }
}

@media only screen and (min-width: 769px) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
      url(../images/hero/desk_hero.jpg);
    }

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        .hero-section {
          background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
          url(../images/hero/desk_hero@2x.jpg);
          
        }
      }
  }

/* .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    height: 120px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

} */


.hero-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    border: none;
    margin: 0 auto;
    margin-bottom: 188px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

}

.hero-btn:hover {
    background-color: #404BBF;

}

.hero-btn:focus {
    background-color: #404BBF;
}


/* Styles for mobile */
@media screen and (max-width: 767px) {


    .hero-section {
        height: 432px;
        padding: 112px 0;

    }

    .hero-title {
        /* font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 72px; */

        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        text-transform: capitalize;
        color: #ffffff;
        max-width: 320px;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero-btn {
        margin-bottom: 0;
        margin-top: 72px;
    }

}

    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .hero-section {
        height: 436px;
        padding: 112px 0;
    }

    .hero-title {
        margin-left: 112px;
        margin-right: 112px;
        margin-bottom: 36px;
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-transform: capitalize;
    }

    .hero-btn {
        margin: 0 auto;
    }
    
    .header-logo {
        margin-right: 120px;
    }

    .header-nav-list {
        gap: 40px;
    }

    .adress {
        font-style: normal;
        margin-left: auto;
    }

    .adress-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    /* .adress-list {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        color: #434455;
    } */

    .adress-mail {
        padding: 0;
        margin-right: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .adress-mail-txt {
        margin-right: 0;
    }

  }

  /* STYLES FOR DESKTOP */
@media screen and (min-width: 1158px) {
    
    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: #ffffff;
        max-width: 496px;
        height: 120px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;;
    }

    .adress {
        font-style: normal;
    }


  }



/**
  |============================
  | FEATURES SECTION
  |============================
*/
.features-list {
    margin-bottom: 8px;
}

.features-list-main {
    width: calc((100% - 72px) / 4);
}

.features-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.features-icon {
    width: 64px;
    height: 64px;
}

.features-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-list-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* Styles for mobile */
@media screen and (max-width: 767px) {

    .features-section {
        padding-top: 96px;
    }

    .features-item {
        display: none;
     
    }

    .list-features {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
        
    }

    .features-list-main {
        width: 396px;
    }

    .features-list {
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;

    }
    .features-list-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-weight: 500;
        font-size: 16px;

    }
}

    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .features-item {
        display: none;
    }

    .list-features {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .features-list-main {
        width: 356px;
    }

    .features-list {
        text-align: left;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        text-transform: capitalize;

    }
    
    .features-list-item {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        font-weight: 500;
        font-size: 16px;

    }

    .features-section {
        padding-top: 96px;
    }

  }

  /* STYLES FOR DESKTOP */
  @media screen and (min-width: 1158px) {
    .features-section {
        margin-bottom: 120px;
        padding-top: 120px;
}
  }



/**
  |============================
  | EMPLOYMENT SECTION
  |============================
*/

.employment-section {
    padding-top: 0px;
}

.employment-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.employment-img {
    width: calc((100% - 48px) / 3);
}

/* Styles for mobile */
@media screen and (max-width: 767px) {
    .employment-section {
        display: none;
     
    }
}

    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .employment-section {
        display: none;
    }
  }

  /* STYLES FOR DESKTOP */
@media screen and (min-width: 1158px) {
    .employment-section {
        padding-bottom: 120px;
    }
}

/**
  |============================
  | TEAM SECTION 
  |============================
*/

.team-section {
    background-color: #F4F4FD;

}

/* Styles for mobile */
@media screen and (max-width: 767px) {
    .team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 72px;
      padding-right: 40px;
      list-style: none;
    }

    .team-list-item {
      max-width: 264px;
    }
}

    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 64px;
      column-gap: 24px;
      padding-right: 40px;
      list-style: none;
      
    }
    .team-list-item {
      max-width: 264px;
      width: calc((100% - 24px) / 2);
      margin: 0;
    }
  }

  /* STYLES FOR DESKTOP */
@media screen and (min-width: 1158px) {
    .team-section {
      padding: 120px 0;
    }
    .team-list {
      display: flex;
      gap: 24px;
      list-style: none;
      padding: 0;
    }
    .team-list-item {
      width: calc((100% - 72px) / 4);
    }

  }

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.team-list-info {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 0;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}


/**
  |============================
  | CUSTOMERS SECTION 
  |============================
*/

.customers-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.customers-title {
    font-size: 36px;
    line-height: 1.1;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;

}

.customers-list {
    display: flex;
    gap: 24px;
    padding-left: 0;

}

.customers-list-item {
    width: calc((100% - 120px) / 6);
    height: 88px;

}

.customers-link {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
    border-color: #404bbf;
    color: #404bbf;
}

.customers-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customers-icon {
    fill: currentColor;
    width: 104px;
    height: 56px;
}

/* Styles for mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {

    .features-section {
        margin-bottom: 96px;
    }

    .customers-list {
    /* min-width: 320px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;

    }

    .customers-list-item {
    width: 190px;
    height: 88px;
    
    }

    .customers-link {
    width: 190px;
    height: 88px;
    }
}


    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1158px) {
   
    .customers-section {
        padding: 96px 0;
    }

    .features-section {
        margin-bottom: 96px;
    }

    .customers-list {
        min-width: 320px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap: 72px;
    
        }
    
        .customers-list-item {
        width: 168px;
        height: 88px;
        
        }
    
        .customers-link {
        width: 168px;
        height: 88px;
        }

  }

  /* STYLES FOR DESKTOP */
@media screen and (min-width: 1158px) {
    
}

/**
  |============================
  | FOOTER 
  |============================
*/



.footer {
    background-color: #2e2f42;
    padding: 100px 0;
    align-items: baseline;

}

/* STYLES FOR MOBILE */

@media screen and (max-width: 767px) {

    .footer {
        padding-bottom: 96px;
        padding-top: 96px;
    }

    .container-footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-content {
        margin-bottom: 72px;
        
    }
    
    .social-footer {
        margin-bottom: 72px;
    }

    .footer-txt {
        margin: 0 auto;
    }

    .footer-form-submit {
        margin: 0 auto;
        margin-top: 16px;
        
    }

    .footer-form-input {
        min-width: 100%;
    }

    


    
  }

/* STYLES FOR TABLET */

@media screen and (min-width: 768px) and (max-width: 1157px) {
    
    .footer {
        padding: 96px 0;
    }
    
    .container-footer {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        margin-left: 93px;
    }


    .container {
        max-width: 768px;
    }

    .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    }

    .footer-form-wrapper {
        margin-left: 0;
        }

    .footer-form {
    display: flex;
    gap: 24px;
         }


}


/* STYLES FOR DESKTOP */

@media screen and (min-width: 1158px) {

    .footer-form {
    display: flex;
    gap: 24px;
        }

    .container-footer {
        display: flex;
        align-items: baseline;
    }

    .footer {
    padding: 100px 0;
    }

    .footer-content {
    margin-right: 120px;
    }

    .footer-form-wrapper {
    margin-left: 80px;
    }
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: inline-block;
}

.footer-txt {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #F4F4FD;
width: 264px;
height: 72px;

}

/* .footer-content {
    margin-right: 120px;
} */

.span-footer {
    color: #f4f4fd;
}

/* .container-footer {
    display: flex;
    align-items: baseline;
} */


    /**
    |============================
    | PORTFOLIO
    |============================
    */


/**
  |============================
  | MAIN 
  |============================
*/

.filters-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filters-btn:hover, .filters-btn:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);;
}

.filters-list {
    justify-content: center;
    display: flex;
    margin-bottom: 72px;
}

.filters-section {
    padding: 96px 0 120px;
}

.filters-btn:hover {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.filters-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
    border: 1px solid transparent;
}

.row-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}


.row-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.row-link {
    width: calc((100% - 48px) / 3);
}

.row-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
    padding-left: 16px;
}

.addition-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.addition-link:hover, .addition-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);;
}

.addition-link:hover .overlay-text,
.addition-link:focus .overlay-text {
    transform: translateY(0%);
}


/* Styles for mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
   .filters-list {

   }

   .all-btn {
    /* width: ;
    height: ; */
   }
}

.row-list {
     /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding-right: 40px; 
    list-style: none;  */
}


    /* STYLES FOR TABLETS */
@media screen and (min-width: 768px) and (max-width: 1158px) {

  }

  /* STYLES FOR DESKTOP */
@media screen and (min-width: 1158px) {
    
}


/**
  |============================
  | FOOTER
  |============================
*/

.portfolio-footer {
    background-color: #2e2f42;
}

.portfolio-span-footer {
    color: #f4f4fd;
}


.row-h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.row-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-left: 16px;
}

.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
}

.footer-socials-link:hover, .footer-socials-link:focus {
    background-color: #31d0aa;
}

/**
  |============================
  | SOCIALS ITEM 
  |============================
*/

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0 0;
}

.socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #4D5AE5;;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.socials-link:hover, .socials-link:focus {
    background-color: #404bbf;
    
}

.socials-icon {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;
}

svg {
    width: 16px;
    height: 16px;
    fill: #f4f4fd;

}

.footer-socials-item {
    display: flex;
    gap: 16px;
    /* width: 40px;
    height: 40px; */

}

.footer-socials-icon {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}

.socials-list {
    width: 40px;
    height: 40px;

}

.socials-item {
    width: 40px;
    height: 40px;


}

.footer-socials-p {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

/**
  |============================
  | MODAL 
  |============================
*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}


.modal {
    position: absolute;
    width: 408px;
    min-height: 584px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px;
}

.modal-close-btn {
    position: absolute;
    background-color: #E7E9FC;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    right: 24px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
    border: none;

}

.modal-close-icon {
    width: 8px;
    height: 8px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 320px) and (max-width: 427px) {
   .modal {
    width: 300px;
   }
}

@media only screen and (min-width: 768px) {

    .modal {
        width: 408px;
        height: 586px;
    }
   
}

@media only screen and (min-width: 1158px) {

    .modal {
        width: 408px;
        height: 584px;
    }
   
}


/* Thumb */

.thumb {
    position: relative;
    overflow: hidden;
}

/* Overlay */

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


/* FOOTER INPUT */


.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #2e2f42;;
    color: #ffffff;
    margin-bottom: 16px;
  }
  /* .footer-form {
    display: flex;
    gap: 24px;
  } */

  .footer-form-input {
    font-size: 18px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 8px 16px;
  }
  .footer-form-input:focus {
    outline: none;
  }
  .footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .footer-form-submit {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    min-width: 165px;
    height: 40px;
    display: flex;
    gap: 16px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    padding: 8px 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-form-submit:hover,
  .footer-form-submit:focus {
    background-color: #31d0aa;
  }
  .footer-form-icon {
    fill: currentColor;
    width: 24px;
    height: 24px;
  }

  /* .footer-form-wrapper {
    margin-left: 80px;
  } */


  /**
  |============================
  | MODAL FORM
  |============================
  */

    .modal-form-title {
    display: block;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    /* line-height: 1.5; */
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 48px;
    font-weight: 500;
    line-height: 24px;

  
  }

    .form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    justify-content: center;
    align-items: center;
    /* margin-right: 8px; */
}

.modal-form-input-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
  }

.form-label-checkbox {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
}

  .modal-form {
    display: flex;
    flex-direction: column;
  }
 

  .form-wrapper {
    position: relative;
    margin-bottom: 8px;
  }

  .form-field {
    font-size: 18px;
    width: 100%;
    height: 40px;
    outline: transparent;
    /* outline-offset: -1px; */
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 0;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .form-field:focus + .form-icon {
    /* outline: 1px solid #4D5AE5; */
    fill: #4D5AE5
  }

  .form-field:focus {
    border: 1px solid #4d5ae5;
    outline: 0;
  }

  .form-icon {
    fill: currentColor;
    width: 18px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: 250ms;
    pointer-events: none;
  }

  .form-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;
    margin-bottom: 0;
  }

    .form-btn:hover {
    background-color: #404BBF;

}

    .form-btn:focus {
    background-color: #404BBF;
}


  .comment-label {
    margin-bottom: 16px;
    resize: none;

  }


  .modal-form-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 18px;
    padding: 8px 16px;
    color: var(--brand-color);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    margin-bottom: 16px;

  }
  .modal-form-textarea:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  .modal-form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
  }

.form-check-input {
    appearance: none;
    width: 16px;
    height: 16px;
    display: block;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    /* background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23FFFF'/%3E%3C/svg%3E%0A"); */
    background-position: center;
    background-repeat: no-repeat;
    transition: 250ms;
    /* margin-left: 8px; */
}


.form-check-input:checked {
    background-color: #4d5ae5;
    border-color: #4d5ae5;
}

.form-check-input:focus-visible {
    outline-color: #4d5ae5;
}

.checkbox-link {
    color: #4d5ae5;
    /* text-decoration-line: solid; */
}


  .form-span {
    margin-left: 8px;
    user-select: none;
  }


/* Input checkbox */

.unchecked {
    opacity: 1;
    transition: 250ms;
}

.checked {
    opacity: 0;
    transition: 250ms;
}

.form-check-input:checked + .form-custom-check > .unchecked {
opacity: 0;
}

.form-check-input:checked + .form-custom-check > .checked {
opacity: 1;
}

.visually-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    opacity: 0;
}



/**
  |============================
  | MOBILE MENU
  |============================
  */

  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }


  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    padding-top: 80px;
    padding-right: 15px;
    background-color: #fff;
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mobile-menu .link {
    display: block;
    /* padding: 10px; */
    text-decoration: none;
  }

/* Mobile */

@media screen and (min-width: 320px) and (max-width: 410px) {
    .mobile-socials {
        display: flex;
      gap: 30px;
      padding: 0;
    }
}

@media only screen and (min-width: 410px) and (max-width: 767px) {
    .mobile-socials {
        display: flex;
    gap: 56px;
    padding: 0;
    }
}

  @media only screen and (max-width: 767px) {

    .menu-toggle {
        padding: 24px 6px;
        
    }
    
    .burger {
        min-width: 32px;
        min-height: 22px;
    }

    .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    color: var(--brand-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mobile-menu-close-icon {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 8px;
    height: 8px;
    }

    .mobile-nav-list-wrapper {
        margin-bottom: auto;
    }

    .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    }

    .mobile-nav-link {
    font-weight: 700;
font-size: 36px;
line-height: 40px;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
    }

    .mobile-menu-container {
        padding-top: 80px;
        padding-left: 40px;
        padding-right: 15px;
    }


    .mobile-contacts {
        font-style: normal;
    margin-bottom: 48px;
    }

    .mobile-contacts-list {
        display: flex;
    flex-direction: column;
    gap: 40px;
    }

    .contacts-social-wrapper {
        margin-top: ;
    }

    .mobile-contacts-link {
        font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mobile-contacts-tel {
        font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4D5AE5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .mobile-menu-social-list-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--accent-color);
        color: #f4f4fd;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

  }

